<!DOCTYPE html>
<html ng-app="MoodifyApp">

<head>
  <title>Moodify</title>
</head>

<body ng-controller="MainController" style="text-align:center">

  <button ng-click="login()">Login with Spotify</button>

  <button ng-click="find_me()">Jean ValJean</button>

  
<!-- Search form -->
  <form id="search-form">
    <input type="text" ng-model="query" value="" class="form-control" placeholder="Type an Artist Name"/>
    <input type="submit" ng-click="fetch_new_station()" class="btn btn-primary" value="Search" />
  </form>


<!-- Station list -->
  <div ng-repeat="station in stations">
    {{station.name}}
  </div>

  <hr>

  <div ng-bind-html="spotify_player"></div>



  <script>
    window.onload = function () {
      var hash = window.location.hash;
      if (window.location.search.substring(1).indexOf("error") !== -1) {
        window.close();
      } else if (hash) {
        var token = window.location.hash.split('&')[0].split('=')[1];
        localStorage.setItem('spotify-token', token);
      }
    }
  </script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-spotify/dist/angular-spotify.min.js"></script>
  <script src="Moodify.js"></script>
</body>
</html>
